/* ChatRoom.module.css */

.chat-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #1e1e2f;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #3a3a4d;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .messages {
    flex-grow: 1;
    margin: 20px 0;
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
  }
  
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    max-width: 80%;
  }
  
  .message-bubble {
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
    line-height: 1.5;
    color: #fff;
  }
  
  .sent {
    justify-content: flex-end;
  }
  
  .received {
    justify-content: flex-start;
  }
  
  .sent .message-bubble {
    background-color: #64625e;
    color: #fffcfc;
  }
  
  .received .message-bubble {
    background-color: #28283d;
  }
  
  .username {
    font-weight: bold;
    margin-right: 8px;
  }
  
  .new-message-form {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #2c2c3c;
    border-radius: 10px;
  }
  
  .new-message-input {
    flex-grow: 1;
    padding: 15px;
    margin-right: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .new-message-input::placeholder {
    color: #b5b5c4;
  }
  
  .new-message-input:focus {
    box-shadow: 0 0 8px rgba(255, 203, 87, 0.5);
  }
  
  .send-button {
    padding: 15px 25px;
    background-color: #ff9f1c;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #303035;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(255, 203, 87, 0.4);
    transition: all 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #f08f20;
    box-shadow: 0 12px 20px rgba(255, 203, 87, 0.6);
    transform: translateY(-5px);
  }
  

  .username {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 0.9rem;
    color: #ff5733; /* Change this to your desired color */
  }
  
  .sent .username {
    color: #fafafa; /* Color for the sent message username */
  }
  
  .received .username {
    color: #0ff28c; /* Color for received message username */
  }
  