/* General container for room creation */
.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #2c2c34, #18181c);
}

.room label {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: #ffcb57;
  margin-bottom: 10px;
}

.room input {
  width: 320px;
  padding: 15px;
  margin: 10px 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffcb57;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.3s ease;
}

.room input::placeholder {
  color: #ffcb57;
}

.room input:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px rgba(255, 203, 87, 0.5);
}

.room button {
  padding: 15px 40px;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: #303035;
  background: linear-gradient(135deg, #ffcb57, #ff9f1c);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(255, 203, 87, 0.4);
  transition: all 0.3s ease;
  margin-top: 10px;
}

.room button:hover {
  background: linear-gradient(135deg, #ff9f1c, #ffcb57);
  box-shadow: 0 12px 20px rgba(255, 203, 87, 0.6);
  transform: translateY(-5px);
}



/* Media queries for mobile devices */
@media (max-width: 768px) {
  .room {
    padding: 20px;
  }

  .room label {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .room input {
    width: 100%;
    font-size: 1rem;
    padding: 12px;
    margin: 10px 0;
  }

  .room button {
    width: 100%;
    font-size: 1.2rem;
    padding: 12px;
  }

  .menu-button {
    font-size: 1.5rem;
  }

  .three-dot-menu {
    position: absolute; 
    top: 22px; 
    right: 30px; 
  }

  .dropdown-menu li {
    font-size: 0.9rem;
  }
}